<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-xs="12" size-md="6">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Welcome to your photobook</mat-card-title>
            <mat-card-subtitle><i>App developed by Nik</i></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quibusdam fugiat quod eius ipsa numquam molestiae vitae quis eum sit quia provident rem dignissimos fugit magnam, harum dolores nulla maiores.
          </mat-card-content>
          <mat-card-actions>
            <a href="mailto:puteranikdimas@gmail.com"><button mat-button>Give feedback via email</button></a>
          </mat-card-actions>
        </mat-card>
      </ion-col>
      <ion-col size-xs="12" size-md="6">
        <mat-accordion multi="false">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              What is this app for?
            </mat-expansion-panel-header>
            <mat-panel-description>
              Uploading photos and reminiscing through them.
            </mat-panel-description>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Instructions
            </mat-expansion-panel-header>
            <mat-panel-description>
              <mat-list>
                <mat-list-item><mat-icon>checkmark</mat-icon> Add a picture</mat-list-item>              
                <mat-list-item><mat-icon>checkmark</mat-icon> Name it</mat-list-item>              
                <mat-list-item><mat-icon>checkmark</mat-icon> View pictures list</mat-list-item>              
                <mat-list-item><mat-icon>checkmark</mat-icon> Profit!</mat-list-item>
              </mat-list>           
            </mat-panel-description>
          </mat-expansion-panel>
        </mat-accordion>
      </ion-col>
    </ion-row>
    <mat-divider>
    </mat-divider>
    <ion-row>
      <mat-vertical-stepper class="fullwidth" linear>
        <mat-step label="Step 1" completed="{{photoUploaded}}" #step1>
          <ion-row size-xs="12" *ngIf="photo">
            <!-- Photo: {{ photo }} -->
            <img src='{{photo}}' alt="image">
          </ion-row>
          <ion-row size="12">
            <ion-col size-xs="12">
              <button mat-raised-button color="primary" (click)="onAddPhoto()">Add a photo from my phone</button>
            </ion-col>
            <ion-col size-xs="12" *ngIf="photo">
              <button mat-raised-button color="warn" (click)="onRemovePhoto()">Remove chosen photo</button>
            </ion-col>
            <ion-col size-xs="12" *ngIf="photo!=''">
              <button mat-raised-button color="accent" matStepperNext>Next</button>
            </ion-col>
          </ion-row>
        </mat-step>
        <mat-step label="Step 2" #step2>
          <ion-row>
            <p>Name your story:</p>
            <mat-form-field class="fullwidth">
              <input matInput value="Today I went to the park...">
            </mat-form-field>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <button mat-raised-button color="accent" matStepperPrevious>Previous</button>
            </ion-col>
            <ion-col size="12">
              <button mat-raised-button color="primary" (click)="onSubmitStory()">Submit Story</button>
            </ion-col>
          </ion-row>
        </mat-step>
      </mat-vertical-stepper>
    </ion-row>
  </ion-grid>
</ion-content>
